@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Outfit", "Public Sans", sans-serif;

  --color-golden-bell-50: #fdf8e9;
  --color-golden-bell-100: #faeec7;
  --color-golden-bell-200: #f7db91;
  --color-golden-bell-300: #f2bf52;
  --color-golden-bell-400: #eca423;
  --color-golden-bell-500: #d68815;
  --color-golden-bell-600: #be6a10;
  --color-golden-bell-700: #984a10;
  --color-golden-bell-800: #7e3c15;
  --color-golden-bell-900: #6b3218;
  --color-golden-bell-950: #3e180a;

  --color-primary-50: var(--color-golden-bell-50);
  --color-primary-100: var(--color-golden-bell-100);
  --color-primary-200: var(--color-golden-bell-200);
  --color-primary-300: var(--color-golden-bell-300);
  --color-primary-400: var(--color-golden-bell-400);
  --color-primary-500: var(--color-golden-bell-500);
  --color-primary-600: var(--color-golden-bell-600);
  --color-primary-700: var(--color-golden-bell-700);
  --color-primary-800: var(--color-golden-bell-800);
  --color-primary-900: var(--color-golden-bell-900);
  --color-primary-950: var(--color-golden-bell-950);
  
  --color-primary: var(--color-golden-bell-400); 
}

:root {
  --ui-primary: var(--color-golden-bell-400);
  --ui-primary-dark: var(--color-golden-bell-500); 
}